@media print, (max-width: 1023px) {
 
    .contacts_img {
        width: 497px;
        height: auto;
        margin-right: -100px;
    }
    .title {
        font-size: 75px;
        line-height: 88px;
        margin-bottom: 50px;
    }
    .music_items {
        column-count: 1;
        column-gap: 0;
    }
    .media-play {
        margin-top: -105px;
    }
    .header_img {
        position: absolute;
        bottom: 0;
        right: -100px;
    }
    .header_info {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
    }
    header {
        height: 1080px;
        padding: 115px 0 15px;
    }
    .header_title  {
        margin-bottom: 655px;
    }
    header .soc {
        justify-content: flex-end;
    }

    
}
