@media print, (max-width: 1187px) {

    .header_title {
        font-size: 98px;
        line-height: 115px;
        margin-bottom: 50px;
    }
    .header_info {
        margin-left: -215px;
    }
    .contacts_img {
        margin-right: -420px;
    }
    footer {
        margin-top: 27px;
    }
    .contacts_email {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 41px;
    }
    .contacts_email a {
        font-size: 36px;
        line-height: 44px;   
    }
    .contacts_wrap {
        align-items: center;
    }
    .music_item-title {
        font-size: 20px;
        line-height: 24px;
    }
    .music_item-text {
        font-size: 16px;
        line-height: 20px;
    }
    .music_item-info {
        margin-bottom: 15px;
    }
    .soc a {
        width: 63px;
        height: 63px;
    }
    .contacts .soc a {
        width: 55px;
        height: 55px;
    }







}
