@media print, (max-width: 1023px) {
 
    .contacts_img {
        width: 497px;
        height: auto;
        margin-right: -100px;
    }
    .title {
        font-size: 75px;
        line-height: 88px;
        margin-bottom: 50px;
    }

    
}
